<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://masterusers.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1a73fd0d-e305-403a-9c98-6d5908c69f8f/resourceGroups/postrequisiciones20220804071739ResourceGroup/providers/Microsoft.Web/sites/MasterUsers</ResourceId>
    <UserName>$MasterUsers</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://masterusers.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>