<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tg-backend-jl.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c9b85c04-27a2-4434-b9b2-f1f27f0d864e/resourceGroups/tg-backend-jl_group/providers/Microsoft.Web/sites/tg-backend-jl</ResourceId>
    <UserName>$tg-backend-jl</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tg-backend-jl.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>