<div class="container-login">

    <div class="container-form-login">
        <form action="">
            <div class="tilte-login">
                <h1>Plataforma cuadrúpeda</h1>
            </div>

            <div class="container-input">
                <span>Usuario</span>
                <input type="text" name="" id="">
            </div>

            <div class="container-input">
                <span>Contraseña</span>
                <input type="password" name="" id="">
            </div>
            
            <div class="container-buttons">
                <button class="blue-claro-button" (click)="login()">Ingresar</button>
            </div>
            
        </form>
    </div>

    <div class="container-logo">

    </div>

   
</div>
